html {
    min-height: 100vh;
    font: 1.1rem Montserrat, sans-serif;
    color: rgb(235, 235, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

i, button, a {
    cursor: pointer;
}

a {
    color: rgb(235, 235, 235); 
}