#page-header {
    background-color: #060e1a;
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}

#page-header > nav > a {
    margin: .5rem;
    font-size: 1.2rem;
}

#logo {
    height: 20%;
}

#about-me {
    background-color: #060e1a;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
}

#about-me > * {
    animation: .8s animate-section;
}

@keyframes animate-section {
    from {
        opacity: 0;
        margin-bottom: 4rem;
    } to {
        opacity: 1;
        margin-bottom: 0;
    }
}

#avatar {
    border-radius: 100%;
    height: 10rem;
}



#technologies-section {
    height: auto;
    background-color: #060e1a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

#techs {
    background-color: #0c1421;
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    align-items: center;
    padding: 3rem;
}

#techs > ul {
    margin-top: 4rem;
}

.tech {
    display: flex;
    align-items: center;
}

.tech > img {
    height: 2rem;
}

.icon {
    margin: 0 1rem;
}

.techs-title {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
    #about-me {
        flex-direction: column-reverse;
        padding: 2rem;
    }

    #technologies-section {
        grid-auto-flow: column;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 100%;
    }

    #page-header {
        justify-content: space-between;
    }

    .icon {
        margin: 0 .1rem;
    }
}