#page-header {
    background-color: #060e1a;
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page-header > nav > a {
    margin: 1rem;
    font-size: 1.2rem;
}

#logo {
    height: 20%;
}

#about-me {
    background-color: #060e1a;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

#avatar {
    border-radius: 100%;
    height: 10rem;
}
