#page-header {
    background-color: #121214;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}

#page-header > nav > a {
    margin: .5rem;
    font-size: 1rem;
}

#logo {
    font-size: medium;
    color: #34ffb6;
}

#about-me {
    background-color: #121214;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
}

#about-me > * {
    animation: .8s animate-section;
}

@keyframes animate-section {
    from {
        opacity: 0;
        margin-bottom: 4rem;
    } to {
        opacity: 1;
        margin-bottom: 0;
    }
}

#avatar {
    border-radius: 100%;
    height: 10rem;
}

#technologies-section {
    height: auto;
    background-color: #121214;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

#techs {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem;
}

#techs > ul {
    margin-top: 4rem;
}

.tech {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background:#000;
    color:#acbad0;
    font-weight: bold;
    margin: 2px 0;
}

.techs-title {
    font-size: 1.2rem;
    align-self: center;
}

@media only screen and (max-width: 1000px) {
    #about-me {
        flex-direction: column-reverse;
        padding: 2rem;
    }

    #technologies-section {
        grid-auto-flow: column;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 100%;
    }

    #page-header {
        justify-content: space-between;
    }

    .social-top-link {
        margin: 0 1rem;
    }
    
    .social-top-label {
        display: none;
    }
}

.tech-icon {
    font-size: xx-large;
    margin-right: 1rem;
}