#page-header {
    background-color: #060e1a;
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page-header > nav > a {
    margin: .5rem;
    font-size: 1.2rem;
}

#logo {
    height: 20%;
}

#about-me {
    background-color: #060e1a;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

#about-me > * {
    animation: .8s animate-section;
}

@keyframes animate-section {
    from {
        opacity: 0;
        margin-bottom: 4rem;
    } to {
        opacity: 1;
        margin-bottom: 0;
    }
}

#avatar {
    border-radius: 100%;
    height: 10rem;
}

@media only screen and (max-width: 1000px) {
    #about-me {
        flex-direction: column-reverse;
        padding: 1rem;
    }
}